html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: wheat;
}


/* header style */

.header-inner {
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #606c38;    
}

.header-pic {
    height:140px;
    display: flex;
    margin:auto 0;
    border-radius: 20%;
    border: 2px wheat solid;
}

.header-title {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin: 0 0 0 5px;
    color: #dda15e;
}

h2 {
    margin-top: 25px;
}

.enlarge {
    font-size:50px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

/* emotion container */

.emotion-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}

.emotion-radios {  
    border: 2px solid rgb(163, 98, 12);
    border-radius: 5px;
}

.emotion-label{
    cursor: pointer;
}

.emotion-selector{
    cursor: pointer;
}

.radio{
    border-bottom: rgb(163, 98, 12) 2px solid;
    padding: 10px 8px;
    accent-color: #606c38;
}

.radio:nth-last-child(1){
    border-bottom: none;
}

.highlight{
    background-color: #606c38;
    color: #dda15e;
    font-weight: bold;
    accent-color: rgb(163, 98, 12);
}



/* gifs check and submit button */
.gifs-check {
    display: flex;
    align-self: center;
    padding: 10px;
    accent-color: #606c38;
}

button {
    align-self: center;
    padding: 4px 25px;
    border-radius: 5px;
    border: solid rgb(163,98,12) 2px;
    background-color: #606c38;
    color: wheat;
    font-weight:bolder;
    letter-spacing: 1px;
}

/* image container */
.image-reel-container{
    top: 225px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 457px;
    border: solid rgb(163,98,12) 2px;
    border-radius: 5%;
    background-color: wheat;
    visibility: hidden;
}

#get-images-btn {
    cursor: pointer;
}

.close-images {
    position: absolute;
    right:10px;
    top: 10px;
    border: solid rgb(163,98,12) 2px;
    background-color: wheat;
    border-radius: 50%;
    padding: 3px;
    font-weight: bolder;
    color: rgb(163,98,12);
}

.close-images:hover {
    background-color: #dda15e;
    cursor: pointer;
}

.copy-image-cont {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.copy-image-btn {
    color: wheat;
    cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

.invisible {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 0.5s linear;
        border: none;
}