html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.header-inner {
    height: 150px;
    display: flex;
    justify-content: center;    
}

.header-pic {
    height:140px;
    display: flex;
    margin:auto 0;
    border-radius: 20%;
}

.header-title {
    display: flex;
    flex-direction: column;
}
h1, h2 {
    margin: 0 0 0 5px;
}

h2 {
    margin-top: 85px;
}
